<template>
    <main>
        <h1 v-if="campaign.id === null">Create New Campaign</h1>
        <h1 v-if="campaign.id !== null">Edit Campaign</h1>
        <section>
            <label for="campaign-name">
                Campaign Name
            </label>
            <input id="campaign-name" v-model="campaign.name" type="text" />
            <label for="campaign-description">
                Campaign Description
            </label>
            <textarea id="campaign-description" v-model="campaign.description"></textarea>
            <div>
                <button v-if="campaign.id === null" @click="saveCampaign">Create</button>
                <button v-if="campaign.id !== null" @click="saveCampaign">Save</button>
                <router-link :to="{ name: 'campaign-list' }" tag="button">Cancel</router-link>
            </div>
        </section>
    </main>
</template>

<script>
import axios from 'axios';
export default {
    data() {
        return {
            campaign: {
                id: null,
                name: '',
                owner: '',
                description: '',
                players: [],
            },
        };
    },
    beforeRouteEnter(to, from, next) {
        if (to.params.id) {
            axios
                .get(`/api/campaigns/${to.params.id}`)
                .then(response => {
                    next(vueMethods => vueMethods.setData(response.data));
                })
                .catch(error => {
                    next(vueMethods => vueMethods.setError(error));
                });
        } else {
            next();
        }
    },
    methods: {
        setData(data) {
            this.campaign = data;
        },
        setError(error) {
            this.error = 'Error loading campaign to edit.';
        },
        saveCampaign() {
            let method = this.campaign.id ? 'put' : 'post';
            axios[method]('/api/campaigns', this.campaign).then(() => this.$router.push('/'));
        },
    },
};
</script>

<style lang="scss" scoped>
section {
    display: flex;
    flex-direction: column;
    max-width: 60ch;
}

input,
textarea {
    margin-bottom: 1.5rem;
}

label {
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: 1.2em;
}

main {
    padding: 2rem;
}

button:first-child {
    margin-right: 1rem;
}

button:nth-child(2) {
    background-color: transparent;
    color: #002c38;
}
</style>
