<template>
    <hsc-window-style-metal>
        <hsc-window
            :isOpen.sync="isOpen"
            :resizable="true"
            :isScrollable="true"
            :minWidth="150"
            :minHeight="200"
            :maxWidth="250"
            :maxHeight="600"
            title="Library"
        >
            <CharacterList v-bind:characters="characters" />
        </hsc-window>
    </hsc-window-style-metal>
</template>

<script lang="ts">
import CharacterList from './CharacterList.vue';
import { characters } from './data.js';

export default {
    components: {
        CharacterList: CharacterList,
    },
    data: function() {
        return {
            characters: characters,
            isOpen: '',
        };
    },
};
</script>
